In [6]:
import pandas as pd

Explore individual dataset

2018_1

In [21]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2018_1.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(19963, 17)
No of Rows: 19963

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       1
Incident ID*+                           2
Submit Date                             2
Summary*                                2
Notes                                   5
Resolution                            174
Assigned Group*+                        2
Assignee+                             202
Service*+                            4366
Submitter*                              2
Status*                                 2
First Name+                             2
Last Name+                              2
Priority*                               2
SLM Real Time Status                 2857
Organization                           11
Department                             20
dtype: int64

Number of duplicate rows:
0

2018_2

In [22]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2018_2.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(2575, 17)
No of Rows: 2575

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1      1
Incident ID*+                          2
Submit Date                            2
Summary*                               2
Notes                                  2
Resolution                            13
Assigned Group*+                       2
Assignee+                             11
Service*+                            203
Submitter*                             2
Status*                                2
First Name+                            2
Last Name+                             2
Priority*                              2
SLM Real Time Status                 433
Organization                           3
Department                             6
dtype: int64

Number of duplicate rows:
0

2018

In [27]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2018_dataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(22538, 17)
No of Rows: 22538

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       3
Incident ID*+                           4
Submit Date                             4
Summary*                                4
Notes                                   7
Resolution                            187
Assigned Group*+                        4
Assignee+                             213
Service*+                            4569
Submitter*                              4
Status*                                 4
First Name+                             4
Last Name+                              4
Priority*                               4
SLM Real Time Status                 3290
Organization                           14
Department                             26
dtype: int64

Number of duplicate rows:
2

In [28]:
# Find and display duplicate rows
duplicate_rows = df[df.duplicated()]
print("Duplicate rows:")
print(duplicate_rows)

Duplicate rows:
      Operational Categorization Tier 1 Incident ID*+ Submit Date Summary*  \
22536                               NaN           NaN         NaN      NaN
22537                               NaN           NaN         NaN      NaN

      Notes Resolution Assigned Group*+ Assignee+ Service*+ Submitter*  \
22536   NaN        NaN              NaN       NaN       NaN        NaN
22537   NaN        NaN              NaN       NaN       NaN        NaN

      Status* First Name+ Last Name+ Priority* SLM Real Time Status  \
22536     NaN         NaN        NaN       NaN                  NaN
22537     NaN         NaN        NaN       NaN                  NaN

      Organization Department
22536          NaN        NaN
22537          NaN        NaN

In [29]:
duplicate_rows = df[df.duplicated()]
df.drop_duplicates(keep='last')

,Operational Categorization Tier 1,Incident ID*+,Submit Date,Summary*,Notes,Resolution,Assigned Group*+,Assignee+,Service*+,Submitter*,Status*,First Name+,Last Name+,Priority*,SLM Real Time Status,Organization,Department
0,Failure,INC000000416368,31/12/2018 06:32:14 AM,ASYCUDA Issue- 6. One User,1. Error Message \n ASYKUDA is not functioning...,cleared the thinapp. and browder history.,SD Incident Handling,Sathischandra B.D.,ASYCUDA,11440,Closed,Donalad,Jayaratne,Low,NaN,CARGO,CARGO SALES
1,Failure,INC000000416367,31/12/2018 06:29:19 AM,Email Service Not Available,Error - outlook is not opening \n2018\nULKBL0...,Âoutlook/e-mail profile createdÂ.,SD Incident Handling,Sathischandra B.D.,Email,11440,Closed,Sarah,Dissanayake,Low,NaN,ENGINEERING,AIRCRAFT MAINTENANCE
2,Failure,INC000000416366,31/12/2018 06:27:18 AM,ORACLE ISSUE - 7. One User,Error Message:\n Oracle is out of order \n2132...,refreshed session and cleared the browser,SD Incident Handling,Sathischandra B.D.,Oracle EBS,11440,Closed,Praneeth,De Alwis,Low,NaN,ENGINEERING,ENGINEERING MATERIALS & SUPPLY CHAIN MANAGEMENT
3,Failure,INC000000416364,31/12/2018 06:21:53 AM,PC related issues Â Airport,dialog tv is out of order. \ns/diva\n4973\nseedya,payment not done,DCS,Sudath Rohana ROHANA,Desktop Service,11440,Closed,AIRPORT,USER,Medium,Within the Service Target,AIRPORT & GROUND SERVICES,AIRPORT SERVICE DELIVERY
4,Failure,INC000000416363,31/12/2018 06:19:02 AM,BTP Not working,Counter and Airline - c 07. \n4507\nUL\nAsanka,printer emulator restarted,DCS,Sudath Rohana ROHANA,File and Print Service,11440,Closed,AIRPORT,USER,Medium,Within the Service Target,AIRPORT & GROUND SERVICES,AIRPORT SERVICE DELIVERY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22532,Failure,INC000000351145,1/1/2018 8:48,Printer Issue Airport Â Laser Network,Counter 15 printer issue\nContact Number 4508...,They had replaced torner after explaining that...,DCS,Upul Gunaratne GUNARATNE,File and Print Service,C13038,Closed,Sachinika Fernando,FERNANDO,Medium,Within the Service Target,AIRPORT & GROUND SERVICES,AIRPORT SERVICE DELIVERY
22533,Failure,INC000000351144,1/1/2018 8:39,Printer Issue tÂ Laser Network,Multiple Printers are not working maintenance ...,replaced the fuser unit.,DMS Printer Support,DMS Printer Support,File and Print Service,C13038,Closed,Mahinda Karunachandra,KARUNACHANDRA,Medium,Service Targets Breached,ENGINEERING,AIRCRAFT MAINTENANCE
22534,Failure,INC000000351142,1/1/2018 8:23,Duty Free System Issue - Mobile Devices,Device Type - mobile device.\n\nDevice Number(...,Advise user to correctly assign his position t...,Duty Free System Support,Ishan Kularathna KULARATHNA,NaN,C12943,Closed,Primrose Arendtsz,ARENDTSZ,Medium,NaN,CABIN SERVICES,INFLIGHT SERVICE DELIVERY
22535,Failure,INC000000351140,1/1/2018 8:19,BTP Not working,Counter 28,BTP working fine. KB repalced,DCS,Dilanka Chandrasekara CHANDRASEKARA,File and Print Service,21977,Closed,AIRPORT,USER,Medium,Within the Service Target,AIRPORT & GROUND SERVICES,AIRPORT SERVICE DELIVERY
22537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2019

In [16]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2019_dataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(19392, 17)
No of Rows: 19392

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       1
Incident ID*+                           2
Submit Date                             2
Summary*                                2
Notes                                   5
Resolution                            164
Assigned Group*+                        2
Assignee+                             393
Service*+                            7957
Submitter*                              2
Status*                                 2
First Name+                             2
Last Name+                              2
Priority*                               2
SLM Real Time Status                 1096
Organization                           14
Department                             16
dtype: int64

Number of duplicate rows:
0

2020

In [17]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2020_dataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(14635, 17)
No of Rows: 14635

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       1
Incident ID*+                           2
Submit Date                             2
Summary*                                2
Notes                                   5
Resolution                             69
Assigned Group*+                        2
Assignee+                             261
Service*+                            5088
Submitter*                              2
Status*                                 2
First Name+                             2
Last Name+                              2
Priority*                               2
SLM Real Time Status                 1264
Organization                           28
Department                             32
dtype: int64

Number of duplicate rows:
0

2021

In [18]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2021_dataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(14819, 17)
No of Rows: 14819

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       1
Incident ID*+                           2
Submit Date                             2
Summary*                                2
Notes                                   3
Resolution                            101
Assigned Group*+                        2
Assignee+                             400
Service*+                            6351
Submitter*                              2
Status*                                 2
First Name+                             2
Last Name+                              2
Priority*                               2
SLM Real Time Status                 2088
Organization                           16
Department                             21
dtype: int64

Number of duplicate rows:
0

2022

In [19]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2022_dataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(14843, 17)
No of Rows: 14843

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       1
Incident ID*+                           2
Submit Date                             2
Summary*                                2
Notes                                   4
Resolution                             85
Assigned Group*+                        2
Assignee+                             386
Service*+                            5856
Submitter*                              2
Status*                                 2
First Name+                             2
Last Name+                              2
Priority*                               2
SLM Real Time Status                 1373
Organization                           19
Department                             23
dtype: int64

Number of duplicate rows:
0

2023

In [20]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\2023_dataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(12543, 17)
No of Rows: 12543

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1       1
Incident ID*+                           2
Submit Date                             2
Summary*                                2
Notes                                   5
Resolution                            112
Assigned Group*+                        2
Assignee+                             414
Service*+                            5832
Submitter*                              2
Status*                                 2
First Name+                             2
Last Name+                              2
Priority*                               2
SLM Real Time Status                  678
Organization                            8
Department                             32
dtype: int64

Number of duplicate rows:
0

new final dataset explore

In [14]:
import pandas as pd 
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\newdataset.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98770, 17)
No of Rows: 98770

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1        8
Incident ID*+                           14
Submit Date                             14
Summary*                                14
Notes                                   29
Resolution                             718
Assigned Group*+                        14
Assignee+                             2067
Service*+                            35653
Submitter*                              14
Status*                                 14
First Name+                             14
Last Name+                              14
Priority*                               14
SLM Real Time Status                  9789
Organization                            99
Department                             150
dtype: int64

Number of duplicate rows:
7

In [15]:
print(df.describe())

       Operational Categorization Tier 1    Incident ID*+      Submit Date  \
count                              98762            98756            98756
unique                                 9            98756            98200
top                              Failure  INC000000416368  9/10/2018 15:57
freq                               97036                1                8

           Summary*                                Notes  \
count         98756                                98741
unique         1653                                96065
top     Cloud Issue  Issue : \nStaff Number :\nContact :
freq           8827                                   44

                                  Resolution     Assigned Group*+  \
count                                  98052                98756
unique                                 57628                  114
top     Âoutlook/e-mail  profile createdÂ.  KBSL Onsite Support
freq                                     979                26571

                 Assignee+        Service*+                  Submitter*  \
count                96703            63117                       98756
unique                 289              101                          79
top     IT Network Support  Desktop Service  Remedy Application Service
freq                  7039            26759                       31472

       Status* First Name+ Last Name+ Priority*       SLM Real Time Status  \
count    98756       98756      98756     98756                      88981
unique       3        4585       3936         4                          3
top     Closed     AIRPORT       USER    Medium  Within the Service Target
freq     96212        4209       4209     76183                      73470

                     Organization                Department
count                       98671                     98620
unique                         38                       132
top     AIRPORT & GROUND SERVICES  AIRPORT SERVICE DELIVERY
freq                        26437                     20608

Remove duplicates

In [31]:
# Check the number of duplicate rows before removal
initial_duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows before removal: {initial_duplicate_count}")

# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Check the number of duplicate rows after removal
final_duplicate_count = df_no_duplicates.duplicated().sum()
print(f"Number of duplicate rows after removal: {final_duplicate_count}")

# Save the updated DataFrame to a new CSV file
df_no_duplicates.to_csv("d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\incident_report_new.csv", index=False)  # Replace with desired output file path

print("Duplicate rows have been removed successfully!")

Number of duplicate rows before removal: 7
Number of duplicate rows after removal: 0
Duplicate rows have been removed successfully!

Explore after removing duplicates

In [34]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_new.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98763, 17)
No of Rows: 98763

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1        1
Incident ID*+                            7
Submit Date                              7
Summary*                                 7
Notes                                   22
Resolution                             711
Assigned Group*+                         7
Assignee+                             2060
Service*+                            35646
Submitter*                               7
Status*                                  7
First Name+                              7
Last Name+                               7
Priority*                                7
SLM Real Time Status                  9782
Organization                            92
Department                             143
dtype: int64

Number of duplicate rows:
0

##### Handling Missing Values
* This remove subset of having missing values for resolution. So most of columns will have 0 missings after this. Others reduce there missing values count.

In [7]:
df_no_missing_resolution = df.dropna(subset=["Resolution"])

# Save the cleaned DataFrame to a new CSV file
df_no_missing_resolution.to_csv("d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_new2.csv", index=False)  # Replace with desired output file path

##### Explore After Handling Missing Values

In [10]:
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98052, 17)
No of Rows: 98052

Number of columns in the dataset: 17


Missing values per column:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Notes                                   12
Resolution                               6
Assigned Group                           0
Assignee                              1620
Service                              35103
Submitter                                0
Status                                   0
First Name                               0
Last Name                                0
Priority                                 0
SLM Real Time Status                  9694
Organization                            84
Department                             135
dtype: int64

Number of duplicate rows:
0

Final full dataset (new)

* After filtering necessary columns only for further process

In [6]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98052, 12)
No of Rows: 98052

Number of columns in the dataset: 12


Missing values per column:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Resolution                               6
Assigned Group                           0
Service                              35103
Status                                   0
Priority                                 0
SLM Real Time Status                  9694
Organization                            84
Department                             135
dtype: int64

Number of duplicate rows:
0

##### New Question and Answer Dataset

In [10]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_q&a.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98052, 2)
No of Rows: 98052

Number of columns in the dataset: 2


Missing values per column:
Summary       0
Resolution    6
dtype: int64

Number of duplicate rows:
36790

##### Preprocess Summary and Resolution for Q&A

In [ ]:
import pandas as pd

# Load the dataset
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_q&a.csv"
df = pd.read_csv(dataset, encoding='latin1') 
# Display initial information about the dataset
initial_info = {
    "initial_shape": df.shape,
    "columns": df.columns.tolist(),
    "missing_values": df.isnull().sum(),
    "duplicates_count": df.duplicated().sum()
}
# 1. Remove duplicate rows
df = df.drop_duplicates()
# 2. Handle missing values by dropping rows with missing data
df = df.dropna()
# 3. Text cleaning: convert text to lowercase, remove punctuation, and strip whitespace
df['Summary'] = df['Summary'].str.lower().str.replace(r'[^\w\s]', '', regex=True).str.strip()
df['Resolution'] = df['Resolution'].str.lower().str.replace(r'[^\w\s]', '', regex=True).str.strip()
# Display final shape and sample data after preprocessing
final_info = {
    "final_shape": df.shape,
    "sample_data": df.head()
}

initial_info, final_info

##### Final Dataset for Question and Answering

In [ ]:
# Save the cleaned dataset to a new CSV file
output_path = 'd:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\cleaned_incident_report_q&a.csv'
df.to_csv(output_path, index=False)

print("File saved as:", output_path)

##### Explore Final Full Question and Answering

In [14]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_q&a_cleaned.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(61256, 2)
No of Rows: 61256

Number of columns in the dataset: 2


Missing values per column:
Summary       0
Resolution    0
dtype: int64

Number of duplicate rows:
0

##### Drop Rows where 'Organization' or 'Department' Columns have Missing Values

In [15]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final.csv"
df = pd.read_csv(dataset, encoding='latin1') 

# Drop rows where 'Organization' or 'Department' columns have missing values
cleaned_data = df.dropna(subset=['Organization', 'Department'])

# Save the cleaned dataset to a new file
cleaned_file_path = 'd:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_model1.csv'
cleaned_data.to_csv(cleaned_file_path, index=False)

cleaned_file_path

##### Explore After Remove Missing Values in Dpartment and Organization

In [16]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_model1.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(97917, 12)
No of Rows: 97917

Number of columns in the dataset: 12


Missing values per column:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Resolution                               6
Assigned Group                           0
Service                              35073
Status                                   0
Priority                                 0
SLM Real Time Status                  9689
Organization                             0
Department                               0
dtype: int64

Number of duplicate rows:
0

In [ ]:
from faker import Faker

# Initialize Faker to generate realistic synthetic data
fake = Faker()

import pandas as pd
import numpy as np
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_model1.csv"

df = pd.read_csv(dataset, encoding='latin1') 
# Define the number of synthetic rows needed
additional_rows_needed = 98000 - df.shape[0]

# Function to create a synthetic row with similar characteristics to the original data
def create_synthetic_row():
    return {
        'Operational Categorization Tier 1': np.random.choice(df['Operational Categorization Tier 1']),
        'Incident ID': f"INC{fake.random_int(min=100000000, max=999999999)}",
        'Submit Date': fake.date_time_this_decade().strftime('%d/%m/%Y %I:%M:%S %p'),
        'Summary': fake.sentence(nb_words=5),
        'Resolution': fake.sentence(nb_words=5) if np.random.rand() > 0.1 else np.nan,  # Some rows with missing resolutions
        'Assigned Group': np.random.choice(df['Assigned Group'].dropna()),
        'Service': np.random.choice(df['Service'].dropna()) if np.random.rand() > 0.3 else np.nan,  # Some missing 'Service' values
        'Status': np.random.choice(df['Status'].dropna()),
        'Priority': np.random.choice(df['Priority'].dropna()),
        'SLM Real Time Status': np.random.choice(df['SLM Real Time Status'].dropna()) if np.random.rand() > 0.1 else np.nan,
        'Organization': np.random.choice(df['Organization'].dropna()),
        'Department': np.random.choice(df['Department'].dropna())
    }

# Generate the synthetic rows
synthetic_rows = [create_synthetic_row() for _ in range(additional_rows_needed)]
synthetic_data = pd.DataFrame(synthetic_rows)

# Concatenate the original data with the synthetic data
expanded_data = pd.concat([df, synthetic_data], ignore_index=True)

# Verify there are no duplicate rows
expanded_data = expanded_data.drop_duplicates()

# Save the expanded dataset to a new file
expanded_file_path = 'd:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_98000.csv'
expanded_data.to_csv(expanded_file_path, index=False)

expanded_data.shape, expanded_file_path

Explore Dataset

In [19]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_98000.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98000, 12)
No of Rows: 98000

Number of columns in the dataset: 12


Missing values per column:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Resolution                              21
Assigned Group                           0
Service                              35100
Status                                   0
Priority                                 0
SLM Real Time Status                  9695
Organization                             0
Department                               0
dtype: int64

Number of duplicate rows:
0

##### Generate Realistic Synthetic Data

In [21]:
import pandas as pd
import numpy as np
from faker import Faker

# Initialize Faker to generate realistic synthetic data
fake = Faker()

# Load the dataset
dataset = "d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_model1.csv"
df = pd.read_csv(dataset, encoding='latin1')

# Calculate the number of additional rows needed to reach 98,000
additional_rows_needed = 98000 - df.shape[0]

# Function to create a synthetic row with similar characteristics to the original data
def create_synthetic_row():
    return {
        'Operational Categorization Tier 1': np.random.choice(df['Operational Categorization Tier 1']),
        'Incident ID': f"INC{fake.random_int(min=100000000, max=999999999)}",
        'Submit Date': fake.date_time_this_decade().strftime('%d/%m/%Y %I:%M:%S %p'),
        'Summary': fake.sentence(nb_words=5),
        'Resolution': fake.sentence(nb_words=5),  # Ensure every row has a Resolution value
        'Assigned Group': np.random.choice(df['Assigned Group'].dropna()),
        'Service': np.random.choice(df['Service'].dropna()) if np.random.rand() > 0.3 else np.nan,  # Some missing 'Service' values
        'Status': np.random.choice(df['Status'].dropna()),
        'Priority': np.random.choice(df['Priority'].dropna()),
        'SLM Real Time Status': np.random.choice(df['SLM Real Time Status'].dropna()) if np.random.rand() > 0.1 else np.nan,
        'Organization': np.random.choice(df['Organization'].dropna()),
        'Department': np.random.choice(df['Department'].dropna())
    }

# Generate the synthetic rows
synthetic_rows = [create_synthetic_row() for _ in range(additional_rows_needed)]
synthetic_data = pd.DataFrame(synthetic_rows)

# Concatenate the original data with the synthetic data
expanded_data = pd.concat([df, synthetic_data], ignore_index=True)

# Verify there are no duplicate rows
expanded_data = expanded_data.drop_duplicates()

# Save the expanded dataset to a new file
expanded_file_path = "d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_98000.csv"
expanded_data.to_csv(expanded_file_path, index=False)

# Print summary of the dataset
print(expanded_data.shape)  # Verify the new shape of the data
print("No of Rows:", expanded_data.shape[0], "\n")
print("Number of columns in the dataset:", expanded_data.shape[1], "\n")

# Check for missing values
print("\nMissing values per column:")
print(expanded_data.isnull().sum())   

# Check for duplicate rows
print("\nNumber of duplicate rows:")   
print(expanded_data.duplicated().sum())

(98000, 12)
No of Rows: 98000

Number of columns in the dataset: 12


Missing values per column:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Resolution                               6
Assigned Group                           0
Service                              35098
Status                                   0
Priority                                 0
SLM Real Time Status                  9693
Organization                             0
Department                               0
dtype: int64

Number of duplicate rows:
0

##### Fill Missing Values in the 'SLM Real Time Status' Column and 'Resolution' Column

In [ ]:
import pandas as pd

# Load the expanded dataset
dataset_path = "d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_98000.csv"
df = pd.read_csv(dataset_path, encoding='latin1')

# Fill missing values in the 'Resolution' column'Resolution' column with the most frequent value
resolution_mode = df['Resolution'].mode()[0]
df['Resolution'].fillna(resolution_mode, inplace=True)

# Fill missing values in the 'SLM Real Time Status' column
df['SLM Real Time Status'].fillna(method='ffill', inplace=True)  # forward fill
# df['SLM Real Time Status'].fillna("Not Available", inplace=True)  # placeholder

# Save the updated dataset
cleaned_file_path = "d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_98000_cleaned.csv"
df.to_csv(cleaned_file_path, index=False)

# Print summary of the dataset to verify
print(df.shape)  # Verify the shape
print("\nMissing values per column after filling:")
print(df.isnull().sum())

C:\Users\User\AppData\Local\Temp\ipykernel_15004\1969260417.py:17: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['SLM Real Time Status'].fillna(method='ffill', inplace=True)  # forward fill

(98000, 12)

Missing values per column after filling:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Resolution                               0
Assigned Group                           0
Service                              35098
Status                                   0
Priority                                 0
SLM Real Time Status                     3
Organization                             0
Department                               0
dtype: int64

##### Explore Final Cleaned Dataset

In [17]:
import pandas as pd
dataset="d:\\User Data\\Oshadi\\USJ\\Acedemic\\3rd Year\\Sem 6\\Project\\Test1\\clean_and_encoding\\dataset\\New dataset\\incident_report_preprocessed_final_98000_cleaned.csv"
df = pd.read_csv(dataset, encoding='latin1') 


print(df.shape) #see number of rows and columns
num_rows = df.shape[0]
print("No of Rows: " + str(df.shape[0])+"\n")
num_columns = df.shape[1]
print("Number of columns in the dataset:", num_columns,"\n")

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())   

# Check duplicates
print("\nNumber of duplicate rows:")   
print(df.duplicated().sum())

(98000, 13)
No of Rows: 98000

Number of columns in the dataset: 13


Missing values per column:
Operational Categorization Tier 1        0
Incident ID                              0
Submit Date                              0
Summary                                  0
Resolution                               0
Assigned Group                           0
Service                              35098
Submitter                                0
Status                                   0
Priority                                 0
SLM Real Time Status                     0
Organization                             0
Department                               0
dtype: int64

Number of duplicate rows:
0